.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem; 
    font-family: 'League Spartan', sans-serif;
    font-size: 3.2rem;
}

.base {
    margin-top: 8rem;
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#post {
    width: 75%;
    max-width: 1200px;
    max-height: max-content;
    padding: 2rem; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-inline: 5rem;
    gap: 2rem;
    background: linear-gradient(to left, #D69C55 0%, #DEA35C 50%, #F1BB78 100%);
    border-radius: 2rem;
    color: #E6E6E6;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0.2rem 0.2rem 0.2rem;
}

.return, .return i {
    color: #E6E6E6;
    font-size: 2.4rem;
    line-height: 0;
    margin-top: 1rem;
    align-self: flex-start;
}

.content h1 {
    font-size: 2.8rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 1rem; 
}

.content h2 {
    font-size: 2.2rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 1rem; 
}

.content p, .content a, .content li, .content ul {
    font-size: 1.8rem; 
    list-style: none;
    margin: 0;
    padding: 0;
}

#post img {
    width: 100%;
    height: 50rem;
    object-fit: cover;
    border-radius: 2rem;
}

.main-post {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 1rem; 
}

.btns-post, .btns-modal {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    padding-block: 2rem;
}

.btns-post button {
    width: 20%;
    padding: 1rem;
    font-size: 1.8rem;
    border-radius: 1rem;
    border: none;
    background-color: #E6E6E6;
    color: #000;
    cursor: pointer;
    transition: all 0.2s ease-in-out
}

.btns-modal{
    flex-direction: row;
}

.btns-modal button {
    width: 40%;
    padding: 1rem;
    font-size: 1.8rem;
    border-radius: 1rem;
    border: none;
    background-color: #E6E6E6;
    color: #000;
    cursor: pointer;
    transition: all 0.2s ease-in-out
}

@media screen and (max-width: 1200px) {
    .main {
        flex-direction: column;
        gap: 5rem;
        margin-top: 5rem;
    }
}

@media screen and (min-width: 1200px) {
    .title-message {
        width: 40%;
    }

    .form-message {
        width: 40%;
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding: 5rem 2rem;
    }

    .content {
        width: 90%;
        padding: 1rem;
    }

    .title-message {
        gap: 1rem;
    }

    .form-group {
        width: 100%;
        gap: 1rem;
    }

    .form input {
        width: 100%;
        padding: 1rem;
    }

    .form button {
        width: 100%;
        padding: 1rem;
    }

    .form-forgot {
        width: 100%;
    }
}

@media screen and (max-height: 700px) {
    .main {
        gap: 3rem;
        margin-top: 2rem;
    }

    .content {
        gap: 1rem;
    }
}
