/*barra*/
.navbar{
    width: 100%;
    height: 6%;
    padding-inline: 3rem;
    background-color: #373737;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/*hamburger*/
.navbar-toggler{
    width: 5rem;
    height: 5rem;
    font-size: 7rem;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-fluid{
    width: 100%;
    height: 100%
}

.navbar-collapse{
    width: 100%;
    padding-inline: 3rem;
    justify-content: space-evenly;
    background-color: #373737;
}

.navbar-nav{
    width: 50%;
    justify-content: space-between;
}


/*logo*/
.navbar-brand{
    justify-self: center;
}

.logo{
    height: 4.5rem;
}

/*menu*/
.nav-link{
    font-size: 2rem;
    color: #4353ac;
}

.nav-link:hover, .nav-link:focus{
    color: #6478EB;
    text-shadow: 0 0.5rem 1rem rgba(f, f, f, 0.1);
}

/*perfil */
.dropdown {
    justify-self: end;
}

.dropdown-toggle {
    background-color: transparent;  
    border: none;
    color: #F1BB78;
    font-size: 2rem;
}

.dropdown-toggle:hover {
    color: #6478EB;
}

.dropdown-menu {
    min-width: 200px;
    background-color: #373737;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.dropdown-item {
    font-size: 1.6rem;
    color: #6478EB;
    padding: 1rem 2rem;
}

.dropdown-item:hover {
    color: #6478EB;
    background-color: #F1BB78;
}

.btn-secondary{
    height: 4rem;
    background-color: #373737;
    border: none;
    color: #F1BB78;
    font-size: 1.8rem;
}

.btn i{
    font-size: 2.5rem;
    color: #F1BB78;
}